{% extends 'layout.html'%} {% block body%}{% include 'offcanvas.html' %}

<div class="container margin-top bg-white">
  <div class="row fixed-top">
    <header>{% include 'nav.html'%}</header>
  </div>

  <div class="row">
    <div class="col-md-12 my-3">
      <p class="display-6 fs-5">Your Profile</p>
    </div>
  </div>
  <form class="row">
    <div class="col-md-4">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img
              src="../static/img/blank-profile-picture.png"
              alt="profile picture"
              width="270"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <div class="fileUpload btn w-100 ms-0">
              <span>Upload <i class="fas fa-camera float-end pt-1"></i></span>
              <input type="file" class="upload" name="image" />
            </div>
            <div>
              <p class="fs-6 lead">
                Registration date <span class="float-end">2020/20/20</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="mb-3">
        <p class="lead fs-6">Personal Informations</p>

        <input
          data-placeholder="Name"
          type="text"
          class="form-control mb-3 outline-none placeholder-fixed"
          placeholder="Name"
        />
        <input
          type="text"
          class="form-control outline-none placeholder-fixed"
          placeholder="Birth date"
        />
      </div>
      <div class="mb-3">
        <p class="lead fs-6">contact Informations</p>
        <input
          type="text"
          class="form-control mb-3 outline-none placeholder-fixed"
          placeholder="E-mail"
        />
        <input
          type="tel"
          class="form-control outline-none placeholder-fixed"
          placeholder="Phone Number"
        />
      </div>
      <div class="mb-3">
        <p class="lead fs-6">password Managment</p>
        <input
          type="text"
          class="form-control mb-3 outline-none placeholder-fixed"
          placeholder="old password"
        />
        <input
          type="text"
          class="form-control outline-none placeholder-fixed"
          placeholder="new password "
        />
      </div>
    </div>
    <div class="col-md-4"></div>
  </form>
</div>

{%endblock%}
