body,
html {
  height: 100%;
  background-color: #f8f9fd;
}
#login-body {
  background-color: #fff !important;
}
#fp-link {
  text-decoration: none !important;
}

.border-b {
  border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}

.no-border {
  border: none;
}
.no-border::placeholder {
  color: rgba(0, 0, 0, 0.507);
}
.no-border:focus::placeholder {
  color: black;
}
