body,
html {
  height: 100%;
  background-color: #f8f9fd;
  background-color: hsl(0deg 0% 98%);
}
#login-body {
  background-color: #fff !important;
}
#fp-link {
  text-decoration: none !important;
}

.border-b {
  border-bottom: 1px solid rgba(0, 0, 0, 0.507);
}

.no-border {
  border: none;
}
.no-border::placeholder {
  color: rgba(0, 0, 0, 0.507);
}
.no-border:focus::placeholder {
  color: black;
}

.def-cursor {
  cursor: default !important;
}

.outline-none:focus {
  outline: none !important;
  box-shadow: none !important;
}
#search_field:focus {
  outline: none;
  box-shadow: none;
}

.b-hover:hover {
  background-color: blue !important;
  color: white;
}
